
<h1>New Student</h1>

<form action="/student/create" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  First Name:<input type="text" name="student[first_name]" value="">
  Last Name:<input type="text" name="student[last_name]" value="">
  Email Address:<input type="text" name="student[email]" value="">

  Dojo:
  <select name="student[dojo_id]"> <% @alldojos.each do |dojo| %>
    <option id="optionvalue" value="<%= dojo.id %>"><%= dojo.branch %></option>
    <% end %>
  </select>

  <input type="submit" name="create" value="create">
</form>


<a href="/dojo/index">Home</a>
<a href="/dojo/<%= @dojo.id %>/show"><%= @dojo.city %></a>
