<p id="notice"><%= notice %></p>

<h1>Current Date and Time</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>Date: <%= @time.strftime("%Y-%m-%d")%> </p>
    <p>Time: <%= @time.strftime ("%H:%M:%S %Z")%></p>
    <p>Date: <%= @time.strftime("%b %d, %Y")%> </p>
    <p>Time: <%= @time.strftime("%I:%M %p %Z")%></p>
    <% @time_mains.each do |time_main| %>
      <tr>
        <td><%= link_to 'Show', time_main %></td>
        <td><%= link_to 'Edit', edit_time_main_path(time_main) %></td>
        <td><%= link_to 'Destroy', time_main, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time main', new_time_main_path %>
